.esec3 {
    width: fit-content;
    height: 400px;

    display: flex;
    background-color: #ddd8d844;
    padding: 4rem;
    padding-right: 2rem;
    padding-left: 8rem;
   
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.esec3 p {

    display: flex;
    align-items: start;
    justify-content: center;
    width: fit-content;
    font-size: 2.2vw;
    flex-direction: column;
    padding: 1rem;
    padding-left: 3rem;
}

.esec3 img {
    object-fit: cover;

    width: 50vw;


}

.esec3 p i {
    font-size: 3rem;
    color: #82cc55;
}

@media (max-width:870px) {
    .esec3 {
        padding: 0px;
        height: fit-content;
        flex-direction: column;

    }

    .esec3 p {
        width: 100%;
        line-height: 180%;
        font-size: 1.2rem;
        padding: 10px 13px;
        text-align: justify;
    }

    .esec3 p i {
        font-size: 5rem;
        margin: 2rem 0rem;
    }

    .esec3 img {
        object-fit: cover;
        height: 45vh;
        width: 100%;


    }

}