.sec1 {
    margin-top: 4rem;
    background-image: url('/images/s1a.jpg');
    /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover;
    /* Cover the entire background */
    background-position: center right;
    /* Position the background image to the center right */
    height: 90vh;
    /* Adjust height as needed */
    /* Additional styling if required */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .sec1 {
        background-position: right;
        /* Adjust background position to the right for smaller screens */
    }
}

.sec1 .cont1 {

    display: flex;
    align-items: center;
    padding-right: 1rem;

}

.sec1 .cont1 h3 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    font-style: normal;
    position: relative;
    right: 2rem;
}

@media (max-width:1026px) {
    .sec1 .cont1 img {
        display: none;
    }
}

.cont2 {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.2rem;
    padding: 1rem;
}

.cont2 h1 {
    font-size: 4rem;
}

.sec1 #para2 {
    font-size: 1.5rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;


}

@media (max-width:770px) {
    .sec1 {
        background: none;
        width: 100vw;
        height: 100vw;
        position: relative;
        justify-content: end;
        align-items: center;
        padding: 0px;
        margin: 0px;
        margin-top: 2.7rem;
        padding-bottom: 2rem;
       
    }

    .sec1 .cont1 {
        display: none;
    }

    .sec1 p {
        margin-bottom: 1rem;
        text-align: center;
    }

    .sec1::before {
        content: "";
        background-image: url('/images/s1b.png');
        background-size: contain;
        background-position:center;
        /* Center the background image */
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        left: 50%;
        /* Move the background image to the horizontal center */
        transform: translateX(-50%);
        /* Adjust to center the image */
        width: 100%;
        /* Adjust the width as needed */
        height: 105%;
        z-index: -1;
        opacity: 1;

    }

    .sec1 .cont2 {

        text-align: center;
        justify-content: end;
        width: 100%;
        height: fit-content;
        border: 1px solid red;
        padding: 0px;
        gap: 0.4rem;
    }

    .sec1 .cont2 h1 {
        font-size: 1.8rem;
        margin: 0px;
    }

    .sec1 #para2 {
        margin-top: 1rem;
        width: 100%;
     font-size: 16px;

    }

}