.sec10 {
    width: 100%;
    height: 600px;

    background-color: #FBCEB1;
    display: flex;
    flex-wrap: wrap;
   
}

.sec10 .left10 {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 2rem;
    gap: 2rem;

}

.sec10 .left10 div {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.sec10 .left10 div p {
    margin-top: 1rem;

}

.sec10 .left10 #hd {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.689);

}

.sec10 .right10 {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 2rem;
    width: 60%;

    display: flex;
    padding: 2rem;

}

.sec10 .right10 h1 {


    text-align: left;
    width: 100%;
}


/* Form container */
#contact-form {
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Input fields */
#contact-form textarea,
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="number"],
#contact-form textarea {
    width: 100%;
    padding: 1.4rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form input[type="text"] {
    margin-right: 1rem;
}

/* Submit button */
#contact-form input[type="submit"] {
    background-color: #D16644;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for submit button */
#contact-form input[type="submit"]:hover {
    background-color: #D16644;
}

/* Align "Your name" and "Your Email" in the same line */
#contact-form div.input-group {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 0px;
}

/* Adjust width of individual inputs */
#contact-form div.input-group input {
    width: 100%;

}

/* Clearfix for the container */
#contact-form::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width:660px) {
    .sec10 {
        flex-direction: column;
        height: fit-content;
    }

    .sec10 .right10 {
        display: flex;
        flex-direction: column;

        align-items: start;
        gap: 2rem;
        width: 100%;

        display: flex;



    }

    .sec10 .right10 form {}

    .sec10 .right10 h1 {


        text-align: left;



    }

    .sec10 .left10 {
        width: 100%;
        padding: 2rem;

    }

    #contact-form {
        max-width: 100%;

        margin: 0;
        font-family: Arial, sans-serif;

    }
}