.sec4 {
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
   
}

.sec4 img {
    width: 75%;
    object-fit: cover;
    margin: auto;
}

@media (max-width:600px) {
    .sec4 {

        padding: 0rem;
        margin-bottom: 2.7rem;
    }

    .sec4 img {
        margin-top: 1.5rem;
        width: 92%;
    }
    #biography{
        font-size: 2rem;
        font-weight: 300;
    }

}