.sec6 {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.sec6 .card {
    width: 30%;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid gray;
    margin-bottom: 3rem;
}

.sec6 #cardA {
    height: 38rem;

}

.sec6 #cardB {
    height: fit-content;
    line-height: 100%;
    padding-bottom: 0.5rem;
}

.sec6 #cardC {
    height: fit-content;
    line-height: 180%;
    padding-bottom: 0.2rem;
}

.sec6 .card .chead {
    height: 7rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.sec6 .card .chead h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: white;
}

.sec6 .card .chead img {
    height: 3rem;
}

#chead1 {
    background-color: #7C6E43;
}

#chead2 {
    background-color: #5C4324;
}

#chead3 {
    background-color: #470F0F;
}


.sec6 .card .cbody {
    width: 90%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: fit-content;

}

.sec6 .card .cbody h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 1.1rem;
    font-size: 1rem;
}

.sec6 .card .cbody ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 140%;
    margin: 1rem;
}

.readmore {
    text-decoration: none;
    color: salmon;
    margin: 2rem;

    cursor: pointer;

}

.readmore2 {
    text-decoration: none;
    color: salmon;
    margin: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.morecontent {

    height: 0px;
    transition: all;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
}

.morecontentx {

    height: 0px;
    transition: all;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
}

.morecontent2 {

    height: fit-content;

}

@media (max-width:1000px) {
    .sec6 #cardA {
        height: fit-content;

    }
}

@media (max-width:660px) {
    .sec6 {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
    }

    .sec6 .card {
        width: 90%;
        height: fit-content;
    }
}